
@font-face {
  font-family: "alagard";
  src: url("../public/fonts/alagard.ttf");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

  --font-family: 'alagard', serif;
  --clr-light: #f0e9e9;
  --clr-purple: #ad0000;
  --clr-pink: #631b1b;
  --clr-yellow: #fee440;
  --clr-blue: #000607;
  --clr-green: #00f5d4;
  --clr-selection-bg: #990202;
  --clr-selection-text: #f4f0f0;
  --clr-background: #252525;
  --clr-red: #ad0000;
  --clr-darkerred: #631b1b;

  /* Customize Wallet Modal */
  /* CUSTOMIZE THE COLOR  PALLETTE */
  --onboard-white: white;
  --onboard-black: black;
  --onboard-primary-1: #2f80ed;
  --onboard-primary-100: #eff1fc;
  --onboard-primary-200: #d0d4f7;
  --onboard-primary-300: #b1b8f2;
  --onboard-primary-400: #929bed;
  --onboard-primary-500: #6370e5;
  --onboard-primary-600: #454ea0;
  --onboard-primary-700: #323873;
  --onboard-gray-100: #ebebed;
  --onboard-gray-200: #c2c4c9;
  --onboard-gray-300: #999ca5;
  --onboard-gray-400: #707481;
  --onboard-gray-500: #33394b;
  --onboard-gray-600: #242835;
  --onboard-gray-700: #1a1d26;
  --onboard-success-100: #d1fae3;
  --onboard-success-200: #baf7d5;
  --onboard-success-300: #a4f4c6;
  --onboard-success-400: #8df2b8;
  --onboard-success-500: #5aec99;
  --onboard-success-600: #18ce66;
  --onboard-success-700: #129b4d;
  --onboard-danger-100: #ffe5e6;
  --onboard-danger-200: #ffcccc;
  --onboard-danger-300: #ffb3b3;
  --onboard-danger-400: #ff8080;
  --onboard-danger-500: #ff4f4f;
  --onboard-danger-600: #cc0000;
  --onboard-danger-700: #660000;
  --onboard-warning-100: #ffefcc;
  --onboard-warning-200: #ffe7b3;
  --onboard-warning-300: #ffd780;
  --onboard-warning-400: #ffc74c;
  --onboard-warning-500: #ffaf00;
  --onboard-warning-600: #cc8c00;
  --onboard-warning-700: #664600;
}
body {
  overflow-y: scroll;
}
@keyframes gradient {
  0% {
    background-color: #252525;
  }
  50% {
    background-color: #230a0a;
  }
  100% {
    background-color: #252525;
  }
}
body {
  animation-name: gradient;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

/* Hide the scrollbar but keep functionality */
body::-webkit-scrollbar {
  width: 0.5em;
  background-color: #f5f5f5;
}

body::-webkit-scrollbar-thumb {
  background-color: #888;
}
.photo-container {
  position: relative;
  display: inline-block;
}

.photo-container img {
  width: 50%;
  height: auto;
  transition: transform 0.2s ease-in-out;
}

.photo-container:hover img {
  transform: scale(1.1);
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #230a0a;
  color: #d9d9d9;
  text-align: center;
  padding: 10px;
  font-size: 14px;
}
.my-div h2 {
  background-color: rgb(255, 0, 0);
  color: white;
  padding: 10px;
}

.my-divo h3 {
  background-color: rgb(170, 3, 34);
  color: white;
  padding: 2px;
}





html {
  scroll-behavior: smooth;
  font-family: var(--font-family);
  background: var(--clr-background);
}

::selection {
  background: var(--clr-selection-bg);
  color: var(--clr-selection-text);
}
